.content {
	margin-top: 30px;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
/*  font-family: 'Segoe UI Light', sans-serif;
  font-weight: normal*/
}
a {
    color: var(--gray-lv5);
}
a:hover{
  color: var(--gray-lv5);
}
h1 {
  text-align: center;
  margin-top: 10px;
  font-size: 60px;
  color: #333
}
h1 a {
  font-size: 14px;
  color: #aaa;
  background: #fff;
  border-radius: 5px;
  padding: 2px 5px;
  border: 1px solid #dcdcdc;
  text-decoration: none
}
h1 a:hover {
  color: #0fe0ba;
  text-decoration: underline
}

:root{
	--gray-lv0:#f4f4f4;
    --gray-lv1:#eeeeee;
    --gray-lv2:#c8c8c8;
    --gray-lv3:#a3a3a3;
    --gray-lv4:#888888;
    --gray-lv5:#444444;
}
body {
  background: var(--gray-lv1);
}

@font-face {
    font-family: 'Segoe UI Light';
    src: url(../fonts/segoeuil.ttf);
    /*font-weight: bold;*/
}

@font-face {
    font-family: 'Elephant';
    src: url(../fonts/Elephant.ttf);
    /*font-weight: bold;*/
}

div{
	font-family: 'Segoe UI Light';
}

/*TAB*/

/*END TAB*/