.content {
	margin-top: 30px;
}
@font-face {
    font-family: 'Segoe UI Light';
    src: url(../../data/fonts/segoeuil.ttf);
    /*font-weight: bold;*/
}

@font-face {
    font-family: 'Iron Clad Bolted Raised';
    src: url(../../data/fonts/IronCladBoltedRaised_.ttf);
    /*font-weight: bold;*/
}

div{
	font-family: 'Segoe UI Light';
}