@import url('style.css');
#categories {
	min-width: 120px;
	width:14vw;
}

#categories-title {
	background: linear-gradient(#cbcbcb, #969696);
	color: #434343;
	border-radius: 10px 10px 0px 0px;
	padding: 10px 10px 0px 0px;
	text-align: center;
	font-family:  Elephant;
	vertical-align: middle;
}

.categories-item {
	background: #f4f4f4;
	border-width: 0px 1px 0px 1px;
	border-color: #c8c8c8;
	border-style: solid;
	padding: 5px;
	cursor: pointer;
	transition-duration: 0.5s;
	transition-property: padding-left;
}

.categories-item:hover {
	background-color: #c8c8c8;
	padding-left: 15px;
}