@import url('style.css');
input:focus{
    color:var(--gray-lv5);
      /*border-color: var(--gray-lv5);*/
}
input[type=search] {
  float:right;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 5vw;
  border-radius: 5px;
  transition: all .5s; 
  color:var(--gray-lv5);
}

input[type=search]:focus {
  width: 10vw;
  background-color: #fff;
  border-color: #000000;
  box-shadow: 0 0 5px rgba(100, 207, 246, .5);
  outline-width: 0px;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}