#larger-image {
	width: 100%;
}

.modal { 
    margin: 1em 0; 
    width: 300px;
}
.modal a.close-modal { border: none; }

@media(max-width: 600px) {
    a { display: block; margin-bottom: 0.5em; }
    a.btn { display: block; text-align: center; padding: 1rem; }
}

#image-name, #image-view-download, #image-category, #image-size, #image-date-upload {

}

#image-name {
    font-weight: bold;
    font-size: 1.3em;
}

#image-view-download {
    margin-top: -15px;
    font-style: italic;
}

#image-date-upload {
    margin-top: -15px;
}

.category:hover {
    background: none;
    color: blue;
    cursor: pointer;
}

.view-larger-image {
    margin: 4px 4px 0px 4px;
    width: 340px;
    height: 190px;
    display: block;
    -moz-box-shadow: 1px 1px 5px #d5d5d5;
    -webkit-box-shadow: 1px 1px 5px #d5d5d5;
        box-shadow: 1px 1px 5px #d5d5d5;
    position: relative;
}

.view-larger-image:hover {
    text-decoration: none;
}

.image-container {
    margin: 5px;
    width: 350px; 
    height: 220px;
    border: solid 1px #d5d5d5;
    border-radius: 5px;
    background-color: #f5f5f5;
    position: relative;
    float: left;
    z-index: 10;
}

.image-title {
    float: left;
    margin-top: -20px;
    margin-left: 5px;
}

.photographer-info {
    margin-top: 7%;
}

#avatar-image {
    border-radius: 50%; 
    width: 50px;
    margin-left: 30px;
}

.avatar-user {
    border-radius: 50%; 
    width: 30px;
}

#avatar-image:hover, .avatar-user:hover {
    cursor: pointer;
}

#total-photos, #photographer-name {
    float: right;
    cursor: pointer;
}

#total-photos {
    text-decoration: underline;
}

#image-detail-favourite-button {
    width: 50px;
    cursor: pointer;
}

#download-button {
    background-color: #aaaaaa;
    color: white;
    border-width: 0px;
    border-radius: 4px;
    font-weight: bold;
    height: 30px;
    font-size: 15px;
}

#download-button:focus {
  color: white;
  outline-width: 0px;
}

